* {
  box-sizing: border-box;
}

body {
  color: #5f5f5f;
  font-family: -apple-system, BlinkMacSystemFont, SegoeUI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, HelveticaNeue, sans-serif;
  margin: 0;
  padding: 0;
}
