* {
  box-sizing: border-box;
}

body {
  color: #5f5f5f;
  font-family: -apple-system, BlinkMacSystemFont, SegoeUI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, HelveticaNeue, sans-serif;
  margin: 0;
  padding: 0;
}

a:focus,
a:hover,
a:active {
  text-decoration: none;
}

/* TYPOGRAPHY */
.justify {
  text-align: justify;
}

.text-0-75 {
  font-size: 0.75rem;
}

.text-1 {
  font-size: 1rem;
}

/* SPACES  */
.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 2.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.mx-1 {
  margin: 0 0.5rem;
}

/* EFFECTS */
.pointer {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

/* COLORS */

/* Success #dff0d8 */
/* Info #d9edf7 */
/* Warning #fcf8e3 */
/* Danger #f2dede */
.blue {
  background: #3498db;
}

.text-blue {
  color: #3498db;
}

.text-green {
  color: #27ae60;
}

.text-red {
  color: #e74c3c;
}

.btn {
  border-radius: 3rem;
}

.btn-tiny {
  height: 1.5rem;
  padding: 0.25rem 1rem;
}

/* Buttons */
.btn-gray {
  background: #95a5a6;
  color: #fff;
}

.btn-gray:focus,
.btn-gray:hover,
.btn-gray:active {
  color: #fff;
}

.btn-green {
  background: #27ae60;
  color: #fff;
}

.btn-green:focus,
.btn-green:hover,
.btn-green:active {
  color: #fff;
}

.btn-red {
  background: #e74c3c;
  color: #fff;
}

.btn-red:focus,
.btn-red:hover,
.btn-red:active {
  color: #fff;
}

/* CUSTOM */

/* Navbar */
.navbar {
  margin: 0;
}

.navbar a,
.navbar a:focus,
.navbar a:hover,
.navbar a:active {
  color: #fff;
}

.navbar-nav {
  padding: 15px;
  margin: 0;
}

/* Categories List */
.cat-list {
  background: #ecf0f1;
  list-style-type: none;
  padding: 1.5rem 0 1rem;
}

.cat-list .active {
  background: #fff;
  color: #27ae60;
}

.btn-cat {
  width: 10rem;
}

.btn-cat:focus,
.btn-cat:hover,
.btn-cat:active {
  background: #fff;
  color: #27ae60;
}

/* Sort Selector */
.sort-select {
  height: 2.5rem;
  width: 100%;
}
